@import url("chrome://global/skin/alerts/alert-common.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#alertNotification
{
 -moz-appearance: none;
 background: transparent;
 padding: 10px;
}
.alertBox
{
 border-right: 2px solid #801818;
 border-bottom: 2px solid #801818;
 border-top: 2px solid #801818;
 border-left: 2px solid #801818;
 background-color: #000000; 
 color: #C01818;
 box-shadow: 0 2px 10px rgba(0,0,0,0.59);
}
.alertImageBox
{
 padding: 8px 0;
 width: 64px;
 background: #000000;
 -moz-border-end: 1px solid rgba(0,0,0,.1);
}
.alertTextBox
{
 color: #FFFFFF;
 padding: 8px;
 -moz-padding-start: 16px;
 width: 255px;
}
.alertTextBox, .alertCloseBox
{
 background: #000000;
}
.alertTitle
{
 font-size: 110%;
}
#alertNotification[clickable="true"]
{
 cursor: normal;
}
label
{
 cursor: inherit;
}
.alertText[clickable="true"]
{
 color: #FFFFFF;
 text-decoration: none;
 cursor: pointer;
}
.alertText[clickable="true"]:hover
{
 color: #FFFFFF;
 text-decoration: underline;
}
.alertText[clickable="true"]:hover:active
{
 color: #FFFFFF;
 text-decoration: underline;
}
.alertCloseButton
{
 -moz-appearance: none;
 padding: 4px 2px;
 border: none !important;
}
.alertCloseBox
{
 margin-inline-end: 2px;
} 
#alertSettings
{
 margin-inline-end: 5px;
}
