#padlock-ib[padshow="ib-trans-bg"][level="ev"],
#padlock-ib-left[padshow="ib-left"][level="ev"],
#padlock-ub-right[padshow="ub-right"][level="ev"],
#padlock-sb[padshow="statbar"][level="ev"],
#padlock-tab[padshow="tabs-bar"][level="ev"]
{
 list-style-image: url("chrome://browser/skin/padlock/padlock_mod_ev.png") !important;
}
#padlock-ib[padshow="ib-trans-bg"][level="high"],
#padlock-ib-left[padshow="ib-left"][level="high"],
#padlock-ub-right[padshow="ub-right"][level="high"],
#padlock-sb[padshow="statbar"][level="high"],
#padlock-tab[padshow="tabs-bar"][level="high"]
{
 list-style-image: url("chrome://browser/skin/padlock/padlock_mod_https.png") !important;
}
#padlock-ib[padshow="ib-trans-bg"][level="low"],
#padlock-ib-left[padshow="ib-left"][level="low"],
#padlock-ub-right[padshow="ub-right"][level="low"],
#padlock-sb[padshow="statbar"][level="low"],
#padlock-tab[padshow="tabs-bar"][level="low"]
{
 list-style-image: url("chrome://browser/skin/padlock/padlock_mod_low.png") !important;
}
#padlock-ib[padshow="ib-trans-bg"][level="mixed"],
#padlock-ib-left[padshow="ib-left"][level="mixed"],
#padlock-ub-right[padshow="ub-right"][level="mixed"],
#padlock-sb[padshow="statbar"][level="mixed"],
#padlock-tab[padshow="tabs-bar"][level="mixed"]
{
 list-style-image: url("chrome://browser/skin/padlock/padlock_mod_low.png") !important;
}
#padlock-ib[padshow="ib-trans-bg"][level="broken"],
#padlock-ib-left[padshow="ib-left"][level="broken"],
#padlock-ub-right[padshow="ub-right"][level="broken"],
#padlock-sb[padshow="statbar"][level="broken"],
#padlock-tab[padshow="tabs-bar"][level="broken"]
{
 list-style-image: url("chrome://browser/skin/padlock/padlock_mod_broken.png") !important;
}

#padlock-ib-left[padshow="ib-left"]
{
 padding: 2px;
}
#padlock-ib[padshow="ib-trans-bg"],
#padlock-ib-left[padshow="ib-left"],
#padlock-ub-right[padshow="ub-right"],
#padlock-sb[padshow="statbar"],
#padlock-tab[padshow="tabs-bar"]
{
 -moz-image-region: rect(0px 16px 16px 0px);
 background-color: transparent;
}
#padlock-ib[padshow="ib-trans-bg"]:hover,
#padlock-ib-left[padshow="ib-left"]:hover,
#padlock-ub-right[padshow="ub-right"]:hover,
#padlock-sb[padshow="statbar"]:hover,
#padlock-tab[padshow="tabs-bar"]:hover
{
 -moz-image-region: rect(0px 32px 16px 16px);
}
#padlock-ib[padshow="ib-trans-bg"]:hover:active,
#padlock-ib-left[padshow="ib-left"]:hover:active,
#padlock-ub-right[padshow="ub-right"]:hover:active,
#padlock-sb[padshow="statbar"]:hover:active,
#padlock-tab[padshow="tabs-bar"]:hover:active
{
 -moz-image-region: rect(0px 48px 16px 32px);
}
