html
{
 background-color: #000000;
 color: #FFFFFF;
 font: message-box;
}
body
{
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
}
.page-subtitle
{
 margin-bottom: 3em;
}
.major-section
{
 margin-top: 2em;
 margin-bottom: 1em;
 font-size: large;
 text-align: start;
 font-weight: bold;
}
table
{
 background-color: #200808;
 color: #FFFFFF;
 font: message-box;
 text-align: start;
 width: 100%;
 border: 1px solid #601818;
 border-bottom-color: #C01818;
 border-right-color: #C01818;
 border-spacing: 0px;
}
th, td
{
 border: 1px dotted #B01818;
 padding: 3px;
}
thead th
{
 text-align: center;
}
th
{
 text-align: start;
 background-color: #601818;
 color: #FFFFFF;
}
th.column
{
 white-space: nowrap;
 width: 0px;
}
td
{
 text-align: start;
 border-top: 1px dotted #B01818;
}
.prefs-table
{
 width: 100%;
 table-layout: fixed;
}
.pref-name
{
 width: 70%;
 white-space: nowrap;
 overflow: hidden;
}
.pref-value
{
 width: 30%;
 white-space: nowrap;
 overflow: hidden;
}
#action-box
{
 background-color: #000000;
 border: 1px solid #601818;
 border-bottom-color: #C01818;
 border-right-color: #C01818;
 color: #FFFFFF;
 float: right;
 margin-top: 2em;
 margin-bottom: 20px;
 -moz-margin-start: 20px;
 -moz-margin-end: 0;
 padding: 16px;
 width: 30%;
}
#contents
{
 clear: right;
}
#action-box,
#reset-box,
#safe-mode-box
{
 display: none;
}
#action-box:-moz-dir(rtl)
{
 float: left;
}
#reset-box > h3
{
 margin-top: 0;
}
#action-box button
{
 display: block;
}
#verify-place-result
{
 max-height: 200px;
 overflow: auto;
}
.block
{
 display: block;
}
.hidden
{
 display: none;
}
*|*:link
{
 color: #FFFFFF;
 text-decoration: none;
}
*|*:link:hover, *|*:link:focus
{
 color: #FFFFFF;
 text-decoration: underline;
}
button
{
 -moz-appearance: none;
 margin: 1px;
 margin-top: 0px;
 min-width: 60px;
 min-height: 25px;
 color: #FFFFFF;
 background-color: #000000;
 border: 2px solid;
 -moz-border-top-colors: #000000 #C01818;
 -moz-border-left-colors: #000000 #C01818;
 -moz-border-bottom-colors: #000000 #601818;
 -moz-border-right-colors: #000000 #601818;
}
button:hover
{
 color: #D0D0D0;
 background-color: #301010;
}
button:focus
{
 color: #C0C0C0;
 -moz-border-top-colors: #301010 #C01818;
 -moz-border-left-colors: #301010 #C01818;
 -moz-border-bottom-colors: #301010 #601818;
 -moz-border-right-colors: #301010 #601818;
}
button[default="true"]
{
 -moz-border-top-colors: #401010 #C01818;
 -moz-border-right-colors: #401010 #601818;
 -moz-border-bottom-colors: #401010 #601818;
 -moz-border-left-colors: #401010 #C01818;
}
button:hover:focus
{
 color: #D0D0D0;
 background-color: #301010;
 -moz-border-top-colors: #301010 #C01818;
 -moz-border-left-colors: #301010 #C01818;
 -moz-border-bottom-colors: #301010 #601818;
 -moz-border-right-colors: #301010 #601818;
}
button:hover:active, button[open="true"], button[checked="true"]
{
 color: #FFFFFF;
 background-color: #401010;
 -moz-border-top-colors: #000000 #601818;
 -moz-border-left-colors: #000000 #601818;
 -moz-border-bottom-colors: #000000 #C01818;
 -moz-border-right-colors: #000000 #C01818;
}
button[default="true"]:hover:active
{
 color: #FFFFFF;
 background-color: #401010;
 -moz-border-top-colors: #401010 #601818;
 -moz-border-left-colors: #401010 #601818;
 -moz-border-bottom-colors: #401010 #C01818;
 -moz-border-right-colors: #401010 #C01818;
}
button:hover:active:focus, button[checked="true"]:focus, button[open="true"]:focus
{
 color: #FFFFFF;
 background-color: #401010;
 -moz-border-top-colors: #301010 #601818;
 -moz-border-left-colors: #301010 #601818;
 -moz-border-bottom-colors: #301010 #C01818;
 -moz-border-right-colors: #301010 #C01818;
}
button[disabled="true"]
{
 color: #606060 !important;
 background-color: #200808 !important;
 -moz-border-top-colors: #200808 #501818 !important;
 -moz-border-left-colors: #200808 #501818 !important;
 -moz-border-bottom-colors: #100000 #301010 !important;
 -moz-border-right-colors: #100000 #301010 !important;
}