@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
colorpicker[type="button"]
{
 -moz-appearance: none;
 width: 38px;
 height: 24px;
 border: 2px solid;
 -moz-border-top-colors: #000000 #C01818;
 -moz-border-left-colors: #000000 #C01818;
 -moz-border-bottom-colors: #000000 #601818;
 -moz-border-right-colors: #000000 #601818;
 background-color: #000000;
 padding: 3px;
}
.colorpicker-button-colorbox
{
 border: 1px solid #000000;
}
colorpicker[type="button"]:hover
{
 background-color: #301010;
}
colorpicker[type="button"]:focus
{
 -moz-border-top-colors: #301010 #C01818;
 -moz-border-left-colors: #301010 #C01818;
 -moz-border-bottom-colors: #301010 #601818;
 -moz-border-right-colors: #301010 #601818;
}
colorpicker[type="button"]:focus, colorpicker[type="button"][open="true"]
{
 background-color: #401010;
 -moz-border-top-colors: #000000 #601818;
 -moz-border-left-colors: #000000 #601818;
 -moz-border-bottom-colors: #000000 #C01818;
 -moz-border-right-colors: #000000 #C01818;
}
.colorpickertile
{
 width: 20px;
 height: 20px;
 margin: 1px;
 border: 1px solid;
 border-top-color: #601818;
 border-left-color: #601818;
 border-bottom-color: #C01818;
 border-right-color: #C01818;
}
.colorpickertile[selected="true"]
{
 border-top-color: #C01818;
 border-left-color: #C01818;
 border-bottom-color: #601818;
 border-right-color: #601818;
}
.colorpickertile[hover="true"]
{
 border-top-color: #C01818;
 border-left-color: #C01818;
 border-bottom-color: #C01818;
 border-right-color: #C01818;
}
.cp-light[hover="true"]
{
 border: 1px solid;
 border-top-color: #C01818;
 border-left-color: #C01818;
 border-bottom-color: #C01818;
 border-right-color: #C01818;
}
