@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
prefwindow
{
 padding: 0px;
}
prefpane
{
 padding-top: 8px;
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
prefwindow[type="child"]
{
 padding-top: 8px;
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
prefwindow[type="child"] > prefpane
{
 padding: 0px;
}
.prefWindow-dlgbuttons
{
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
prefwindow[type="child"] .prefWindow-dlgbuttons
{
 padding: 0px;
}
radio[pane]
{
 -moz-appearance: none;
 padding: 5px 3px 1px;
 border: 1px solid transparent;
 margin: 2px 1px;
 min-width: 4.5em;
}
.paneSelector
{
 border-bottom: 2px groove #B01818;
 margin: 0px;
 -moz-padding-start: 10px;
 background-color: #000000;
 color: #FFFFFF;
}
.paneButtonIcon
{
 width: 32px;
 height: 32px;
}
radio[pane]:hover
{
 background-color: #401010;
 color: #FFFFFF;
 -moz-appearance: none;
 border-top-color: #C01818;
 border-left-color: #C01818;
 border-bottom-color: #601818;
 border-right-color: #601818;
}
radio[pane][selected="true"]
{
 background-color: #601818;
 color: #FFFFFF; 
 -moz-appearance: none;
 border-top-color: #601818;
 border-left-color: #601818;
 border-bottom-color: #C01818;
 border-right-color: #C01818;
}
